body{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}

section{
    height: 500px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1{
    font-size: 50px;
}

.name-highlight{
    color: orange;
}

.button-link{
    text-decoration: none;
    background-color: linear-gradient(45deg orange red);
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.half-of-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}

.half-of-width img{
    width: 100%;
}